/* universal selector */
/* * {
	color: red;
} */

/* element selector */
/* p {
	color: aqua;
} */

/* id selector */
/* #idselect {
	background-color: brown;
	color: #000;
} */

/* class selector */
/* 
.first {
	border: 1px solid blueviolet;
} */

/* descentent selector */
/* .unordered li {
	color: chartreuse;
} */

/* child select // it will select all the element with child h1*/
/* #box > h1 {
	color: green;
} */

/* grouped element selector */

/* h1,
h2,
h3 {
	color: red;
} */

/* Adjasent sibling selector (select the imidiate child of the element which means
 p + h1(target) it will select the h1 if its next to it and make the changes according.
*/

/* p + h1 {
	color: red;
} */

/* General sibling selector will select all the siblings of the target element
p ~ h1 {
	color: rebeccapurple;
} */
